root {
    --primary-color:
    --secondary-color: 
    --tertiary-color:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    background-position: 80%;
    justify-content: space-between;
    background-color: #2a607c;
    color: white;
    z-index: 10000;
}

header h1 {
    font-size: 35px;
    padding: 15px;
}

header nav {
    float: right;
    margin: 20px 25px;
}

header nav ul li {
    display: inline-flex;
    margin-left: 25px;
    font-size: 30px;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    background-color: white;
    color: #3eb5fa;
    border-radius: 20px;
}

footer {
    align-items: center;
}

.hero {
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    background-image: url("../assets/images/header.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-box {
    padding: 7px 15px;
    background-color: #3eb5fa;
}

.latin {
    width: 20%;
}

.type {
    margin: 25px;
    display: flex;
}

.sub-heading {
    text-align: end;
    vertical-align: text-top;
    font-size: 30px;
    border-right: 5px solid #2a607c;
    padding-left: 20px;
    padding-right: 15px;
}

.sub-b {
    margin-left: 0;
}

.text {
    line-height: 2;
    justify-content: center;
    padding: 20px;
}

.container-right {
   min-width: 1200px;
}

.container-left {
    max-width: 200px;
    max-height: 300px;
    padding-left: 20px;
}

.projects {
    border: 5px solid #3eb5fa;
    background-color: pink;
    height: 80px;
    width: 480px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex:1 1 25%;
}
.container p {
    font-style: italic;
    font-size: 13px;
}

.highlight {
    width: 1000px;
}

.container {
    border: 2px solid #3eb5fa;
    background-color: #3eb5fa;
    margin: 5px;
    line-height: 1;
    width: 90px;
    height: 40px;
    align-items: center;
}

.details {
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 15px;
    vertical-align: bottom;
}

.details h5 {
    text-align: left;
    justify-content: space-around;
    margin-left: 5px;
    text-decoration: none;
}

.details-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration-line: underline;
    text-decoration-color: #2a607c;
    text-decoration-thickness: 5px; 
    padding-left: 20px;
    width: 60%;
    align-items: center;
    float: right;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
