root {
    --primary-color:
    --secondary-color: 
    --tertiary-color:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-position: 100%;
    justify-content: space-between;
    background-color: #2a607c;
    color: white;
    z-index: 10000;
}

header h1 {
    font-size: 30px;
    margin-left: 15px;
}

header nav {
    float: right;
    margin: 20px 25px;
}

header nav ul li {
    display: inline-flex;
    margin-left: 25px;
    font-size: 30px;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 10px 10px;
}

header nav ul li a:hover {
    background-color: #3eb5fa;
    color: white;
    border-radius: 15px;
    padding: 10px 10px;
}

.hero {
    top: 0;
    height: 150px;
    margin-bottom: 20px;
    background-image: url("../assets/images/dream.jpeg");
}

.welcome {
    display: flex;
    float: right;
    justify-content: center;
    align-items: flex-end;
    margin: 25px 15px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #3eb5fa;
}

.block {
    margin: 25px 15px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #3eb5fa;
}

.type {
    margin: 25px;
    display: flex;
}

.type img {
    width: auto;
    height: 95px;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: #3eb5fa;
}

.sub-heading {
    text-align: end;
    vertical-align: text-top;
    font-size: 30px;
    border-right: 5px solid #2a607c;
    padding-left: 10px;
    padding-right: 15px;
}

.sub-b {
    margin: 10px;
}

.text {
    line-height: 2;
    justify-content: center;
    padding: 20px;
}

.container-right {
   min-width: 1200px;
}

.container-left {
    max-width: 200px;
    max-height: 900px;
    padding-left: 20px;
}

.shell {
    border: 5px solid #3eb5fa;
    background-color: pink;
    margin-bottom: 15px;
    display: flex;
}

.section-a {
   display: flex;
   flex-basis: 1 1;
   justify-content: space-between;
   width: 1160px;
}
.projects {
    height: 200px;
}

.project {
    height: 200px;
    width: 570px;
}

.container p {
    font-style: italic;
    font-size: 13px;
}

.highlight {
    width: 1200px;
}

.container {
    border: 2px solid #3eb5fa;
    background-color: #3eb5fa;
    margin: 20px;
    margin-left: 0;
    line-height: 1;
    width: 100px;
    height: 40px;
    align-items: center;
}

.img-1 {
    background-image: url(./images/1.3.png); 
}

.img-2 {
    background-image: url(./images/1.2.png); 
}

.img-3 {
    background-image: url(./images/1.1.png); 
}

.img-4 {
    background-image: url(./images/1.5.png); 
}

.img-5 {
    background-image: url(./images/1.4.png);
}

.details {
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 5px;
    vertical-align: bottom;
}

.details h5 {
    text-align: left;
    justify-content: space-around;
    margin-left: 5px;
    text-decoration: none;
}

.details-b {
    display: flex;
    text-decoration-line: underline;
    text-decoration-color: #2a607c;
    text-decoration-thickness: 5px; 
    padding-left: 2px;
    align-items: center;
    float: left;
}

.flex-row {
    display: flex;
    margin: 15px 20px;
    border-radius: 15px; /* remove this later and below */
    background-color: orchid;
}

.wrap { /* remove this later and below */
    display: flex;
}